<!-- <div class="col-sm-2"></div>  -->
<div class="col-sm-7" id="backGround">
  <form [formGroup]="addProjectForm" class="form-horizontal">
    <div class="panel  panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Add project</h3>
      </div>
      <div class="panel-body">
        <div class="form-group" [ngClass]="{'has-error' : formErrors.projectName}">
          <label class="col-sm-2 control-lebel" for="projectName">Project</label>
          <div class="col-sm-5">
            <input id="projectName" formControlName="projectName" type="text" class="form-control" (blur)="validationErrors()" />
            <span class="help-block" *ngIf="formErrors.projectName || btnClicked">
              {{formErrors.projectName}}
            </span>
          </div>
        </div>
        <div class="form-group">

          <label class="col-sm-3 control-lebel" for="date">Set Start and End Date</label>
          <div class="col-sm-0">
            <input type="checkbox" id="setDate" value="date" [checked]="setDate" (change)="toggle()" />

          </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error' : formErrors.startDate}">
          <label class="col-sm-2 control-lebel" for="startDate">Start Date</label>
          <div class="col-sm-3">
            <input id="startDate" formControlName="startDate" class="form-control" type="date" data-date-inline-picker="true" (blur)="validationErrors()"
            />
            <span class="help-block" *ngIf="formErrors.startDate || btnClicked">
              {{formErrors.startDate}}
            </span>
          </div>

          <label class="col-sm-2 control-lebel" for="endDate">End Date</label>

          <div class="col-sm-3">
            <input id="endDate" formControlName="endDate" class="form-control" type="date" data-date-inline-picker="true" (blur)="validationErrors()"
            />
            <span class="help-block" *ngIf="formErrors.endDate || btnClicked">
              {{formErrors.endDate}}
            </span>
          </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error' : formErrors.manager}">

          <label class="col-sm-2 control-lebel" for="manager">Manager</label>
          <div class="col-sm-4">
            <input id="manager" formControlName="manager" type="text" class="form-control" disabled="true" (blur)="validationErrors()"
            />
            <span class="help-block" *ngIf="formErrors.manager || btnClicked">
              {{formErrors.manager}}
            </span>
          </div>
          <div>
            <button class="btn btn-primary" id="userButton" (click)="openUserModal(true)">Search</button>
            <div id="searchUserModal" class="modal fade" role="dialog" [ngStyle]="{'display': userModalIsOpen ? 'block' : 'none','opacity' :1}">
              <div class="modal-dialog modal-ng">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Select User</h4>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <label class="col-sm-2 control-lebel" for="userInfo">User ID</label>
                      <div class="col-sm-5">
                        <input id="userInfo" formControlName="userInfo" type="text" class="form-control" placeholder="Type to search..." >

                      </div>
                    </div>
                    <table class="table table-bordered">
                      <thead>
                        <tr class="bg-primary">
                          <th>User ID</th>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th>Employee ID</th>
                          <th>Project ID</th>
                          <th>Task ID</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let user of users | filter : 'firstName' : searchString; let i = index" [class.selectedUser]="user === selectedUser"
                          (click)="onSelectUser(user)">
                          <td>{{user.userId}}</td>
                          <td>{{user.firstName}}</td>
                          <td>{{user.lastName}}</td>
                          <td>{{user.empId}}</td>
                          <td>{{user.projectId}}</td>
                          <td>{{user.taskId}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="closeModalDialog()">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="form-group">
          <label class="col-sm-2 control-lebel" for="priority">Priority</label>
          <div>{{value}}</div>
          <!-- 
<div class="slidecontainer">
  <input (rangeValueChange)="onRangeValueChange($event)" type="range" min="1" max="100" class="slider" id="priority"  isContinuous="true" formControlName="value">
</div>
<div>{{value}}</div> -->
          <!-- <igx-slider id="slider" [minValue]="0" [maxValue]="100" [isContinuous]=true formControlName="volume" ></igx-slider>
<label igxLabel for="slider">Volume: {{volume}}</label> -->
          <div class="custom-slider">
            <ng5-slider [(value)]="value" [options]="options"></ng5-slider>
          </div>

        </div>


      </div>

      <div class="panel-footer">
        <div class="form-group">
          <div class="col-sm-12" align="right">
            <button class="btn btn-primary" (click)="createProject()" align="center">{{button}}</button>
            <!-- </div> -->
            <!-- <div class="col-sm-1"> -->
            &nbsp;
            <button class="btn btn-primary" (click)="resetForm()" align="right">Reset</button>
          </div>
        </div>
      </div>
    </div>
    <!-- </form>
</div> -->

    <!-- <div class="col-sm-7" id="grid"> -->
    <div class="form-group" *ngIf="projects && projects.length">
      <label class="col-sm-6 control-lebel" align="right">Sort By</label>
      <button class="btn btn-primary" (click)="sortByStartDate()" align="center">Start Date</button>
      &nbsp;
      <button class="btn btn-primary" (click)="sortByEndDate()" align="right">End Date</button>
      &nbsp;
      <button class="btn btn-primary" (click)="sortByPriority()" align="right">Priority</button>
      &nbsp;
      <button class="btn btn-primary" (click)="sortByCompleted()" align="right">Completed</button>

    </div>
    <table class="table table-bordered" *ngIf="projects && projects.length">
      <thead>
        <tr class="bg-primary">
          <th>Project Name</th>
          <th>Number of Task</th>
          <th>Start Date</th>
          <th>End date</th>
          <th>Priority</th>
          <th>Completed?</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects">
          <td>{{project.projectName}}</td>
          <td>{{project.totalTask}}</td>
          <td>{{project.startDate}}</td>
          <td>{{project.endDate}}</td>
          <td>{{project.priority}}</td>
          <td>{{project.completeStatus}}</td>
          <td>
            <button class="btn btn-primary" (click)="getProject(project.projectId)">Update</button>
          </td>
          <td>
            <button class="btn btn-primary" (click)="closeProject(project.projectId)">Suspend</button>
          </td>
        </tr>
      </tbody>

    </table>


    <!-- </div> -->


  </form>
</div>

<!-- <p [ngClass]="{online:projectCreationStatus === 'online'}">{{ projectCreationStatus }}</p> -->