
#backGround {
    position: absolute;
    width: 800px;
    height: 400px;
    z-index: 15;
    top: 35%;
    left: 30%;
    margin: -100px 0 0 -150px;
  
  }
  
  #grid {
    position: absolute;
    width: 800px;
    height: 400px;
    z-index: 15;
    top: 95%;
    left: 30%;
    margin: -100px 0 0 -150px;
  
  }
  
  
.form-control.ng-untouched,
.form-control.ng-valid {
    border-color: rgb(56, 122, 117) !important;
}

.table-bordered>tbody>tr:nth-child(odd)>td,
.table-bordered>tbody>tr:nth-child(odd)>th {
  background-color: #c7f7f1;
  border-color: #041935;
  border-block-end-color: #041935;
  
}
.table-bordered>tbody>tr:nth-child(even)>td,
.table-bordered>tbody>tr:nth-child(even)>th {
  background-color: #7f98a7;
  border-color: #041935;
  border-block-end-color: #041935;
}