 <!-- <div class="col-sm-2"></div>  -->
 <div class="col-sm-7" id="backGround"> 
  <form [formGroup]="addUserForm" class="form-horizontal">
    <div class="panel  panel-primary">
      <div class="panel-heading">
  <h3 class="panel-title">Add User</h3>
  </div>
  <div class="panel-body">
    <div class="form-group" [ngClass]="{'has-error' : formErrors.firstName}">
        <label class="col-sm-2 control-lebel" for="firstName">First Name</label>
    <div class="col-sm-5">
        <input id="firstName" formControlName="firstName" type="text" class="form-control" 
        (blur)="validationErrors()" >
        <span class="help-block" *ngIf="formErrors.firstName || btnClicked">
          {{formErrors.firstName}}
        </span>
   
      </div>
    </div>
    
  <div class="form-group" [ngClass]="{'has-error' : formErrors.lastName}">
    
        <label class="col-sm-2 control-lebel" for="lastName">Last Name</label>
        <div class="col-sm-4">
        <input id="lastName" formControlName="lastName" type="text" class="form-control"
        (blur)="validationErrors()" >
        <span class="help-block" *ngIf="formErrors.firstName || btnClicked">
          {{formErrors.lastName}}
        </span>
   </div>
  </div>
    
  <div class="form-group" [ngClass]="{'has-error' : formErrors.empId}">
    
    <label class="col-sm-2 control-lebel" for="empId">Employee ID</label>
    <div class="col-sm-4">
    <input id="empId" formControlName="empId" type="text" class="form-control"
    (blur)="validationErrors()" >
    <span class="help-block" *ngIf="formErrors.firstName || btnClicked">
      {{formErrors.empId}}
    </span>
</div>
</div>
  
  </div>
  
  <div class="panel-footer">
    <div class="form-group">
        <div class="col-sm-12" align="right">
        <button class="btn btn-primary" (click)="createUser()" align="center">Add</button>
        &nbsp;
        <button class="btn btn-primary" (click)="resetForm()" align="center">Reset</button>
        </div>
      </div>
    </div>  
  </div>
  </form>
  </div>
  
  <div class="col-sm-7" id="grid" *ngIf="users && users.length">
  <table class="table table-bordered">
  <thead>
   <tr class="bg-primary">
     <th>First Name</th>
     <th>Last Name</th>
     <th>Emp Id</th>
     <th></th>
     <th></th>
   </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.empId}}</td>
      <td><button class="btn btn-primary" (click)="getUser(user.userId)">Edit</button></td>
      <td><button class="btn btn-primary" (click)="deleteUser(user.userId)">Delete</button></td>
    </tr>
  </tbody>
  
  </table>
  
  
  </div>
  
  
  
  <!-- <p [ngClass]="{online:projectCreationStatus === 'online'}">{{ projectCreationStatus }}</p> -->