<div class="col-sm-7" id="backGround"> 
  <form [formGroup]="viewTaskForm" class="form-horizontal">
    <div class="panel  panel-primary">
      <div class="panel-heading">
  <h3 class="panel-title">View Task</h3>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label class="col-sm-2 control-lebel" for="projectName">Project</label>
  <div class="col-sm-5">
      <input id="projectName" formControlName="projectName" type="text" class="form-control" disabled >
    </div>
    <div> <button class="btn btn-primary" (click)="openProjectModal(true)">Search</button>
    <div id="searchProjectModal" class="modal fade" role="dialog" [ngStyle]="{'display': projectModalIsOpen ? 'block' : 'none','opacity' :1}">
      <div class="modal-dialog modal-ng">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Select Project</h4>
          </div>
          <div class="modal-body">
              <div class="form-group">
                  <label class="col-sm-2 control-lebel" for="projectName">Project</label>
              <div class="col-sm-5">
                  <input id="projectName" formControlName="projectName" type="text" class="form-control" placeholder="Type to search..." [(ngModel)]="searchProject">
                </div>
              </div>
            <table class="table table-bordered" >
              <thead>
               <tr class="bg-primary">
                 <th>Project Name</th>
                 <th>Start Date</th>
                 <th>End date</th>
                 <th>Priority</th>
               </tr>
              </thead>
              <tbody>
                <tr *ngFor="let project of projects | filter : 'projectName' : searchProject; let i = index" 
                [class.selectedProject]="project === selectedProject"
                  (click)="onSelectProject(project)">
                  <td>{{project.projectName}}</td>
                  <td>{{project.startDate}}</td>
                  <td>{{project.endDate}}</td>
                  <td>{{project.priority}}</td>
                </tr>
              </tbody>
            </table>
          </div>
         
          <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="closeModalDialog()" >Close</button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
</div>
<!-- </form>
</div> -->
    <!-- <div class="col-sm-7" id="grid"> -->
        <div class="form-group" *ngIf="projects && projects.length">
            <label class="col-sm-6 control-lebel" align ="right" >Sort By</label>
            <button class="btn btn-primary" (click)="sortByStartDate()" align="center">Start Date</button>
            &nbsp;
            <button class="btn btn-primary" (click)="sortByEndDate()" align="right">End Date</button>
            &nbsp;
            <button class="btn btn-primary" (click)="sortByPriority()" align="right">Priority</button>
            &nbsp;
            <button class="btn btn-primary" (click)="sortByCompleted()" align="right">Completed</button>
                
        </div>

      <table class="table table-bordered" *ngIf="tasks && projects.length">
      <thead>
       <tr class="bg-primary">
         <th>Task</th>
         <th>Parent</th>
         <th>Priority</th>
         <th>Start Date</th>
         <th>End date</th>
         <th></th>
         <th></th>
       </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <td>{{task.taskName}}</td>
          <td>{{task.parentId}}</td>
          <td>{{task.priority}}</td>
          <td>{{task.startDate}}</td>
          <td>{{task.endDate}}</td>
          
          <td><button class="btn btn-primary" (click)="getTask(task.taskId)">Edit</button></td>
          <td><button class="btn btn-primary" (click)="closeTask(task.taskId)">End Task</button></td>
        </tr>
      </tbody>
      
      </table>
      
      
      <!-- </div> -->
    </form>
  </div>