.navbar-custom {
    background-color: #041733da;
    
}
/* change the brand and text color */
.navbar-custom 
.navbar-brand,
.navbar-custom 
.navbar-text {
    color: rgba(245, 245, 245, 0.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(2, 43, 2, 0.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.panel-title {
  color: white;
}

/* Navbar */
.navbar-default {
    background-color: rgb(5, 9, 61);
    border-color: #E7E7E7;
}
/* Title */
.navbar-default .navbar-brand {
    color: rgb(128, 240, 234);
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: rgb(114, 188, 211);
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: rgb(75, 201, 233);
}



.active { 
    background-color: rgb(1, 4, 14); 
   
}