<nav class="navbar navbar-default">
<div class="container-fluid">
  <!-- <div class="navbar-header">
<a href="#" class="navbar-brand">Project List</a></div> -->
<div class="collapse navbar-collapse">
    <div class="panel-heading">
        <h1 class="panel-title">Project Manager</h1>
        </div>
<ul class="nav navbar-nav">
  <li><a href="#" routerLinkActive='active' routerLink='addProject'>Add Project</a></li>
  <li><a href="#" routerLinkActive='active' routerLink='addTask'>Add Task</a></li>
  <li><a href="#" routerLinkActive='active' routerLink='addUser'>Add User</a></li>
  <li><a href="#" routerLinkActive='active' routerLink='viewTask'>View Task</a></li>
</ul>
</div>
</div>
</nav>
<router-outlet></router-outlet>
