 <!-- <div class="col-sm-2"></div>  -->
 <div class="col-sm-7" id="backGround"> 
  <form [formGroup]="addTaskForm" class="form-horizontal">
    <div class="panel  panel-primary">
      <div class="panel-heading">
  <h3 class="panel-title">Add Task</h3>
  </div>
  <div class="panel-body">
    <div class="form-group" [ngClass]="{'has-error' : formErrors.projectName}">
        <label class="col-sm-2 control-lebel" for="projectName">Project</label>
    <div class="col-sm-5">
        <input id="projectName" formControlName="projectName" type="text" class="form-control" disabled >
        <span class="help-block" *ngIf="formErrors.projectName || btnClicked">
          {{formErrors.projectName}}
        </span>
      </div>
      <div> <button class="btn btn-primary" (click)="openProjectModal(true)">Search</button>
      <div id="searchProjectModal" class="modal fade" role="dialog" [ngStyle]="{'display': projectModalIsOpen ? 'block' : 'none','opacity' :1}">
        <div class="modal-dialog modal-ng">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Select Project</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-2 control-lebel" for="projectName">Project</label>
                <div class="col-sm-5">
                    <input id="projectName" formControlName="projectName" type="text" class="form-control" placeholder="Type to search..." >
                 
                  </div>
                </div>
              <table class="table table-bordered" >
                <thead>
                 <tr class="bg-primary">
                   <th>Project Name</th>
                   <th>Start Date</th>
                   <th>End date</th>
                   <th>Priority</th>
                 </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let project of projects | filter : 'projectName' : searchProject; let i = index" 
                  [class.selectedProject]="project === selectedProject"
                    (click)="onSelectProject(project)">
                    <td>{{project.projectName}}</td>
                    <td>{{project.startDate}}</td>
                    <td>{{project.endDate}}</td>
                    <td>{{project.priority}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
           
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="closeModalDialog()" >Close</button>
            </div>
          </div>
        </div>
      </div>
      
      
      
      </div>
    </div>
    <div class="form-group" [ngClass]="{'has-error' : formErrors.taskName}">
          <label class="col-sm-2 control-lebel" for="taskName">Task</label>
      <div class="col-sm-5">
          <input id="taskName" formControlName="taskName" type="text" class="form-control" >
          <span class="help-block" *ngIf="formErrors.taskName || btnClicked">
            {{formErrors.taskName}}
          </span>
        </div>
      </div>
    <div class="form-group">
       
        <label class="col-sm-3 control-lebel" for="parentTask">Parent Task</label>
        <div class="col-sm-0">
            <input type="checkbox" id="isParent" value="parent" [checked]="isChecked" (change)="toggle()"/>
            <!-- <script>
                $('isParent').change(function() {
                    $('userButton').attr('disabled',!this.checked)
                });
                </script> -->
          </div>
            
                
      </div>
      <div class="form-group" >  
        <label class="col-sm-2 control-lebel" for="priority">Priority</label>
        <div>{{values}}</div> 
        <!-- 
        <div class="slidecontainer">
          <input (rangeValueChange)="onRangeValueChange($event)" type="range" min="1" max="100" class="slider" id="priority"  isContinuous="true" formControlName="value">
        </div>
        <div>{{value}}</div> -->
        <!-- <igx-slider id="slider" [minValue]="0" [maxValue]="100" [isContinuous]=true formControlName="volume" ></igx-slider>
        <label igxLabel for="slider">Volume: {{volume}}</label> -->
        <div class="custom-slider">
        <ng5-slider id="priority" [(value)]="values" [options]="option" ></ng5-slider>
        </div>
        
        </div>    
        <div class="form-group" [ngClass]="{'has-error' : formErrors.parentTaskName}">
    
          <label class="col-sm-2 control-lebel" for="parentTaskName">Parent Task</label>
          <div class="col-sm-4">
          <input id="parentTaskName" formControlName="parentTaskName" type="text" class="form-control" disabled>
          <span class="help-block" *ngIf="formErrors.parentTaskName || btnClicked">
            {{formErrors.parentTaskName}}
          </span>
        </div>

     <div > <button class="btn btn-primary" id="parentTaskBtn" (click)="openTaskModal(true)" >Search</button>
      <div id="searchTaskModal" class="modal fade" role="dialog" [ngStyle]="{'display': taskModalIsOpen ? 'block' : 'none','opacity' :1}">
        <div class="modal-dialog modal-ng">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Select Parent Task</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-2 control-lebel" for="parentTaskName">Parent Task</label>
                <div class="col-sm-5">
                    <input id="parentTaskName" formControlName="parentTaskName" type="text" class="form-control" placeholder="Type to search..." >
                 
                  </div>
                </div>
              <table class="table table-bordered" >
                <thead>
                 <tr class="bg-primary">
                   <th>Parent Task Name</th>
                 </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let parentTask of parentTasks | filter : 'parentTaskName' : searchParent; let i = index" 
                  [class.selectedParentTask]="parentTask === selectedParentTask"
                    (click)="onSelectParentTask(parentTask)">
                    <td>{{parentTask.parentTaskName}}</td>
                    <!-- <td>{{parentTask.parentId}}</td> -->
                  </tr>
                </tbody>
              </table>
            </div>
           
            <div class="modal-footer">
                <!-- <button type="button" id="btnOK" class="btn btn-success" (click)="btnOKClick()"><i class="fa fa-check fa-fw"></i> Ok</button>
                <button type="button" id="btnClose" class="btn btn-danger" (click)="openModal(false)"><i class="fa fa-times fa-fw"></i> Cancel</button>
     -->
                <button type="button" class="btn btn-danger" (click)="closeModalDialog()" >Close</button>
            </div>
          </div>
        </div>
      </div>
      </div>

    </div> 
    <div class="form-group" >
    
        <label class="col-sm-2 control-lebel" for="startDate" >Start Date</label>
        <div class="col-sm-3" [ngClass]="{'has-error' : formErrors.startDate}">
        <input id ="startDate" formControlName="startDate" class="form-control" type="date" data-date-inline-picker="true" />
        <span class="help-block" *ngIf="formErrors.startDate || btnClicked">
          {{formErrors.startDate}}
        </span>
      </div>
     
        <label class="col-sm-2 control-lebel" for="endDate">End Date</label>
     
      <div class="col-sm-3" [ngClass]="{'has-error' : formErrors.endDate}">
        <input id="endDate" formControlName ="endDate" class="form-control" type="date" data-date-inline-picker="true" />
        <span class="help-block" *ngIf="formErrors.endDate || btnClicked">
          {{formErrors.endDate}}
        </span>
      </div>
  </div>
  <div class="form-group" [ngClass]="{'has-error' : formErrors.endDate}">
    
        <label class="col-sm-2 control-lebel" for="userInfo">User</label>
        <div class="col-sm-4">
        <input id="userInfo" formControlName="userInfo" type="text" class="form-control" disabled>
        <span class="help-block" *ngIf="formErrors.userInfo || btnClicked ">
          {{formErrors.userInfo}}
        </span>
      </div>
   <div> <button class="btn btn-primary" id="userButton" (click)="openUserModal(true)">Search</button>
    <div id="searchUserModal" class="modal fade" role="dialog" [ngStyle]="{'display': userModalIsOpen ? 'block' : 'none','opacity' :1}">
      <div class="modal-dialog modal-ng">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Select User</h4>
          </div>
          <div class="modal-body">
              <div class="form-group">
                  <label class="col-sm-2 control-lebel" for="userInfo">User ID</label>
              <div class="col-sm-5">
                  <input id="userInfo" formControlName="userInfo" type="text" class="form-control" placeholder="Type to search..." >
               
                </div>
              </div>
            <table class="table table-bordered" >
              <thead>
               <tr class="bg-primary">
                 <th>User ID</th>
                 <th>First Name</th>
                 <th>Last Name</th>
                 <th>Employee ID</th>
                 <th>Project ID</th>
                 <th>Task ID</th>
               </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users | filter : 'firstName' : searchString; let i = index" 
                [class.selectedUser]="user === selectedUser"
                  (click)="onSelectUser(user)">
                  <td>{{user.userId}}</td>
                  <td>{{user.firstName}}</td>
                  <td>{{user.lastName}}</td>
                  <td>{{user.empId}}</td>
                  <td>{{user.projectId}}</td>
                  <td>{{user.taskId}}</td>
                </tr>
              </tbody>
            </table>
          </div>
         
          <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="closeModalDialog()" >Close</button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  </div>
  
  <div class="panel-footer">
    <div class="form-group">
        <div class="col-sm-12" align="right">
        <button class="btn btn-primary" (click)="createTask()" align="center">{{button}}</button>
    <!-- </div>
        <div class="col-sm-4"> -->
            &nbsp;
        <button class="btn btn-primary" (click)="resetForm()" align="center">Reset</button>
        </div>
      </div>
    </div>  
  </div>
  </form>
  </div>
  
 