
#backGround {
  position: absolute;
  width: 800px;
  height: 400px;
  z-index: 15;
  top: 35%;
  left: 30%;
  margin: -100px 0 0 -150px;

}

#grid {
  position: absolute;
  width: 800px;
  height: 400px;
  z-index: 15;
  top: 95%;
  left: 30%;
  margin: -100px 0 0 -150px;

}
.ng5-slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .ng5-slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 80%; /* Full-width */
    height: 10px; /* Specified height */
    border-radius: 8px;   
    background: #041935; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .ng5-slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
  .ng5-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 100%;   
    background: rgb(5, 16, 68); /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .ng5-slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;  
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  .custom-slider .ng5-slider .ng5-slider-selection {
    background: rgb(127, 13, 180) !important;
    width: 25px; 
    height: 25px;

  }

.modal-dialog {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 20%;
    margin: 0 auto;
}
.modal-header{
    background-color:rgb(164, 197, 235);
}
.modal-content {
    overflow:hidden;
}

.form-control.ng-untouched,
.form-control.ng-valid {
    border-color: rgb(56, 122, 117) !important;
}
.table-bordered>tbody>tr:nth-child(odd)>td,
.table-bordered>tbody>tr:nth-child(odd)>th {
  background-color: #c7f7f1;
  border-color: #041935;
  border-block-end-color: #041935;
  
}
.table-bordered>tbody>tr:nth-child(even)>td,
.table-bordered>tbody>tr:nth-child(even)>th {
  background-color: #7f98a7;
  border-color: #041935;
  border-block-end-color: #041935;
}