<h3>Project Manager</h3>
<input type="text"
class="form-control"
(input)="onUpdateProjectName($event)">

<input type="text"
class="form-control"
[(ngModel)] = "projectName">
<p>{{projectName}}</p>
<button  class="btn btn-primary"
(click)="createProject()">Add Project</button>
<p [ngClass]="{online:projectCreationStatus === 'online'}">{{ projectCreationStatus }}</p>